.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
.left-col{
    width: 37%;
}
.right-col{
    width: 60%;
}
.main-photo{
    width: 100%;
    height: auto;
}